@font-face {
  font-family: "Roboto";
  src: url("Polices/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-thin";
  src: url("Polices/Roboto-Thin.ttf");
}
@font-face {
  font-family: "Roboto-bold";
  src: url("Polices/Roboto-Bold-webfont.woff") format("woff");
}
@font-face {
  font-family: "Shrikhand";
  src: url("Polices/Shrikhand-Regular.otf");
}
p {
  font-family: "Roboto";
  font-size: 2em;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "Roboto-Bold";
}

h2 {
  font-size: 3em;
}

.Titre_ohmyfood {
  font-family: "Shrikhand";
}

.thin {
  font-family: "Roboto-thin";
}

.Restau-prev__titre {
  font-family: "Shrikhand";
  font-size: 3em;
}

.Restau-prev__ligne1 {
  font-family: "Roboto-Bold";
}

.Restau-menu__ligne1 {
  position: absolute;
  font-family: "Roboto-bold";
}

.Restau-menu__ligne2 {
  color: #424040;
  text-overflow: ellipsis;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 46px;
}

@media screen and (min-width: 1280px) {
  p {
    font-size: 1em;
  }

  h2 {
    font-size: 2em;
  }

  .Restau-prev__titre {
    font-family: "Shrikhand";
    font-size: 2em;
  }

  .Restau-menu__ligne2 {
    padding-top: 25px;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Logo {
  width: 400px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1em;
}

.loader {
  position: absolute;
  margin-left: 42%;
  margin-top: 10em;
  border: 16px solid #99E2D0;
  border-top: 16px solid #FF79DA;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 3s linear;
  animation-fill-mode: forwards;
}

#Apparition-page {
  animation: opacity 4s linear;
}

#Localisation {
  background-color: #e7e4e4;
}
#Localisation .Localisation_heading {
  display: flex;
  align-items: center;
  width: 30%;
  margin-right: auto;
  margin-left: auto;
}
#Localisation .Localisation_texte {
  margin-left: 15px;
  font-size: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: none;
  background-color: #e7e4e4;
}

::placeholder {
  color: black;
  opacity: 1;
}

#Reserver {
  background-color: #F2F2F2;
}

#Haut_page {
  display: flex;
  flex-direction: column;
}

.Reserver_texte {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 35%;
}

.Reserver_texte2 {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 60%;
}

.Explorer {
  margin-top: 20px;
  text-align: center;
  border-radius: 50px;
  color: white;
  width: 45%;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  background: linear-gradient(#9356DC, #FF79DA);
  box-shadow: 6px 6px 20px #c2c0c0;
  opacity: 0.9;
}
.Explorer:hover {
  opacity: 1;
  box-shadow: 6px 8px 25px #c2c0c0;
}

/* Partie fonctionnement */
.Navigation1 {
  display: flex;
  align-items: center;
  background-color: #F2F2F2;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 35px;
  margin-bottom: 40px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 6px 6px 20px #c2c0c0;
}
.Navigation1:hover {
  background-color: #ffdff6;
  box-shadow: 6px 8px 25px #c2c0c0;
}
.Navigation1 .Navigation-chiffre {
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 3px;
  color: white;
  background-color: #9356DC;
  height: 40px;
  border-radius: 20px;
}

.Navigation1:hover > .Navigation-logo {
  color: #9356DC;
}

.Navigation-titre {
  margin-left: 5%;
  font-size: 2.5em;
}

.Navigation-logo {
  margin-right: 1em;
  margin-left: 2em;
  color: grey;
}

/* Partie restaurants */
article {
  background: #F2F2F2;
  height: 2600px;
}

.Restau-prev {
  width: 70%;
  border-radius: 20px;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 6px 6px 20px #c2c0c0;
  margin-bottom: 20px;
}
.Restau-prev .Restau-prev__image {
  height: 400px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
  object-fit: cover;
}
.Restau-prev .Restau-prev__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1em;
  margin-right: 1em;
}

.Restau-titre {
  padding-top: 2em;
  margin-left: 15%;
  font-size: 2.5em;
}

.Coeur {
  transition: all 800ms linear;
}
.Coeur:hover {
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.Nouveau {
  position: absolute;
  background-color: #99E2D0;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 2%;
  margin-left: 48%;
  display: flex;
  color: #0b5f0b;
  border-radius: 5%;
}

/* Bas de page */
#Texte_bas {
  color: white;
  padding-left: 2em;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #131212;
}

.Texte_bas1 {
  display: flex;
  align-items: center;
}

.Texte_bas {
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (min-width: 1280px) {
  .Logo {
    width: 200px;
  }

  .Localisation_texte {
    font-size: 1.2em;
  }

  article {
    height: 1000px;
  }

  .Restau-prev {
    width: 40%;
  }
  .Restau-prev .Restau-prev__image {
    height: 300px;
  }

  .Restau-prev__ligne {
    display: flex;
  }

  .Reserver_texte {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 28%;
  }

  .Reserver_texte2 {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 28%;
  }

  .Nouveau {
    margin-left: 30%;
  }

  .Restau-titre {
    margin-left: 42%;
    padding-bottom: 1em;
    padding-top: 1em;
    font-size: 2em;
  }

  .Navigation1 {
    width: 60%;
    border-radius: 20px;
  }

  .Navigation-titre {
    margin-left: 20%;
    font-size: 2em;
  }

  .Navigation1 .Navigation-chiffre {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    height: 21px;
  }

  #Localisation .Localisation_heading {
    margin-left: 40%;
  }

  .Explorer {
    width: 30%;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  #Localisation .Localisation_texte {
    font-size: 1.5em;
  }
}
.Header-menu {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
.Header-menu .Header-menu_fleche {
  margin-left: 4%;
}
.Header-menu .Logo-menu {
  margin-top: 1em;
  width: 400px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.Restau-prev__image2 {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 500px;
}

#Restau-prev2 {
  width: 100%;
  background-color: #F2F2F2;
  position: relative;
  margin-top: -3em;
  border-radius: 60px 60px 0px 0px;
  margin-right: auto;
  margin-left: auto;
  height: 2200px;
}
#Restau-prev2 .Restau-prev__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 3em;
  margin-right: 3em;
  padding-top: 1em;
}

#Restau-prev3 {
  width: 100%;
  background-color: #F2F2F2;
  position: relative;
  margin-top: -3em;
  border-radius: 20px 20px 0px 0px;
  margin-right: auto;
  margin-left: auto;
  height: 2300px;
}
#Restau-prev3 .Restau-prev__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1em;
  margin-right: 2em;
}
#Restau-prev3 .Restau-prev__titre {
  font-family: "Shrikhand";
}

.Restau-menu {
  position: relative;
  width: 90%;
  display: flex;
  border-radius: 15px;
  background-color: white;
  padding-left: 1em;
  margin-bottom: 1em;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 6px 6px 20px #c2c0c0;
  animation: Apparition 2s ease-in-out;
}
.Restau-menu .Restau-menu__texte {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.Restau-menu .Restau-menu__argent {
  margin-right: 1em;
  margin-top: 2em;
}
.Restau-menu:hover .Restau-menu__transition {
  position: relative;
  border-radius: 0px 15px 15px 0px;
  background-color: #99E2D0;
  width: 300px;
  height: 149px;
  transition: transform 1s ease-in-out;
  right: -220px;
  transform: translate(-150px, 0);
}
.Restau-menu:hover .Transition-logo {
  font-size: 2em;
  display: inline-block;
  position: relative;
  background: white;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  right: -58px;
  top: 58px;
  border-radius: 60%;
  transition: transform 1s ease-in-out 0.2s;
  transform: rotate(360deg);
  opacity: 1;
}

.Transition-logo {
  opacity: 0;
}

.Bordure {
  margin-left: 1em;
  padding-bottom: 5px;
  width: 2.5em;
  border-bottom: 4px #99E2D0 solid;
}

.Restau-menu2 {
  position: relative;
  width: 90%;
  display: flex;
  border-radius: 15px;
  background-color: white;
  padding-left: 1em;
  margin-bottom: 1em;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 6px 6px 20px #c2c0c0;
  animation: Apparition 4s ease-in-out 0s;
}
.Restau-menu2 .Restau-menu__texte {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.Restau-menu2 .Restau-menu__argent {
  margin-right: 1em;
  margin-top: 2em;
}
.Restau-menu2:hover .Restau-menu__transition {
  position: relative;
  border-radius: 0px 15px 15px 0px;
  background-color: #99E2D0;
  width: 300px;
  height: 149px;
  transition: transform 1s ease-in-out;
  right: -220px;
  transform: translate(-150px, 0);
}
.Restau-menu2:hover .Transition-logo {
  font-size: 2em;
  display: inline-block;
  position: relative;
  background: white;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  right: -58px;
  top: 58px;
  border-radius: 60%;
  transition: transform 1s ease-in-out 0.2s;
  transform: rotate(360deg);
  opacity: 1;
}

.Restau-menu3 {
  position: relative;
  width: 90%;
  display: flex;
  border-radius: 15px;
  background-color: white;
  padding-left: 1em;
  margin-bottom: 1em;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 6px 6px 20px #c2c0c0;
  animation: Apparition 6s ease-in-out 0s;
}
.Restau-menu3 .Restau-menu__texte {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.Restau-menu3 .Restau-menu__argent {
  margin-right: 1em;
  margin-top: 2em;
}
.Restau-menu3:hover .Restau-menu__transition {
  position: relative;
  border-radius: 0px 15px 15px 0px;
  background-color: #99E2D0;
  width: 300px;
  height: 149px;
  transition: transform 1s ease-in-out;
  right: -220px;
  transform: translate(-150px, 0);
}
.Restau-menu3:hover .Transition-logo {
  font-size: 2em;
  display: inline-block;
  position: relative;
  background: white;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  right: -58px;
  top: 58px;
  border-radius: 60%;
  transition: transform 1s ease-in-out 0.2s;
  transform: rotate(360deg);
  opacity: 1;
}

.Restau-menu__btn {
  text-align: center;
  border-radius: 50px;
  color: white;
  width: 30%;
  margin-top: 3em;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: auto;
  margin-left: auto;
  background: linear-gradient(#9356DC, #FF79DA);
  box-shadow: 6px 6px 20px #c2c0c0;
  opacity: 0.9;
}
.Restau-menu__btn:hover {
  opacity: 1;
  box-shadow: 6px 8px 25px #c2c0c0;
}

#Texte_bas2 {
  display: flex;
  flex-direction: column;
  color: white;
  padding-left: 2em;
  background-color: #131212;
}

.Contact {
  color: white;
}

.Truc_bas {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .Restau-prev__image2 {
    width: 60%;
    overflow: hidden;
    object-fit: cover;
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 500px;
  }

  #Restau-prev2 {
    width: 60%;
    height: 1250px;
  }

  #Restau-prev3 {
    width: 60%;
    height: 1350px;
  }

  #Texte_bas2 {
    width: 57.3%;
    margin-right: auto;
    margin-left: auto;
  }

  .Header-menu .Header-menu_fleche {
    margin-left: 20%;
  }
  .Header-menu .Logo-menu {
    width: 300px;
    margin-left: 16%;
  }

  .Restau-menu:hover .Restau-menu__transition {
    width: 76px;
    height: 77px;
    right: -70px;
    transform: translate(-70px, 0);
  }
  .Restau-menu:hover .Transition-logo {
    font-size: 1em;
    right: -28px;
    top: 30px;
  }

  .Restau-menu2:hover .Restau-menu__transition {
    width: 76px;
    height: 77px;
    right: -70px;
    transform: translate(-70px, 0);
  }
  .Restau-menu2:hover .Transition-logo {
    font-size: 1em;
    right: -28px;
    top: 30px;
  }

  .Restau-menu3:hover .Restau-menu__transition {
    width: 76px;
    height: 77px;
    right: -70px;
    transform: translate(-70px, 0);
  }
  .Restau-menu3:hover .Transition-logo {
    font-size: 1em;
    right: -28px;
    top: 30px;
  }
}

/*# sourceMappingURL=main.css.map */
