@font-face {
    font-family: 'Roboto';
    src: url('polices/Roboto-Regular.ttf');
    font-family: 'Roboto-thin';
    src: url('polices/Roboto-Thin.ttf');
    font-family: 'Robotobold';
    src: url('polices/Roboto-Bold-webfont.woff') format('woff');
    font-family: 'Shrikhand';
    src: url('polices/Shrikhand-Regular.otf')
}

@import "./Outils/mixin";
@import "./Outils/keyframe";
@import "./Outils/variables";

@import "./Base/typographie";

@import "./Pages/accueil";
@import "./Pages/menu";

