@font-face {
    font-family: 'Roboto';
    src: url('polices/Roboto-Regular.ttf');
    font-family: 'Roboto-thin';
    src: url('polices/Roboto-Thin.ttf');
    font-family: 'Roboto-bold';
    src: url('polices/Roboto-Bold.ttf');
    font-family: 'Shrikhand';
    src: url('polices/Shrikhand-Regular.otf')
}


.Localisation_texte {
    margin-left: 15px;
}

a {
    text-decoration: none;
    color: black;
}

$Primaire : #9356DC;
$Secondaire : #FF79DA;
$Tertiaire : #99E2D0;
$Grey: #F2F2F2;

@mixin centrer {
    margin-right: auto;
    margin-left: auto;
}

@mixin box-shadow {
    box-shadow: 6px 6px 20px rgb(194, 192, 192);
}

@mixin degradé {
    background: linear-gradient($Secondaire, $Primaire);
}

.Logo {
    width: 200px;
    display: block;
    @include centrer;
}

#Haut_page {
    width: 80%;
    @include centrer;
}

#Localisation {
    background-color: rgb(231, 228, 228);
}

.Localisation_heading {
    display: flex;
    align-items: center;
    width: 30%;
    @include centrer;
}

#Reserver {
    background-color: $Grey ;
}

#Haut_page {
    display: flex;
    flex-direction: column;
}


.Texte_centre {
    text-align: center;
}



.Explorer {
    margin-top: 20px;
    text-align: center;
    border-radius: 50px;
    color: white;
    width: 30%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 50px;
    @include centrer;
    @include degradé;
    @include box-shadow;
}


/* Partie fonctionnement */


.Navigation1 {
    display: flex;
    align-items: center;
    background-color: $Grey;
    padding-top: 10px ;
    padding-bottom: 10px;
    border-radius: 20px;
    box-shadow: 6px 6px 6px $Grey;
    margin-bottom: 20px;
    width: 60%;
    @include centrer;
    @include box-shadow;
    &:hover {
        background-color: lighten($Secondaire, 20%);

    }
    .Navigation-chiffre {
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 3px;
        color: white;
        background-color: $Primaire;
        height: 20px;
        border-radius: 20px;
    }
}


.Navigation-logo {
    margin-right: 1em;
    margin-left: 2em;
    color: grey;
    &:hover {
        color: $Primaire;
}
}




/* Partie restaurants */


article {
    background: $Grey;
}

#Restau-prev {
    width: 70%;
    border-radius: 20px;
    background-color: white;
    @include centrer;
    @include box-shadow;
    margin-bottom: 20px;
    .Restau-prev__image {
        height: 400px;
        width: 100%;
        border-radius: 20px 20px 0px 0px;
        overflow: hidden;
        object-fit: cover;
    }
        .Restau-prev__heading {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: 1em;
            margin-right: 1em;
        }
}

.Coeur {
    transition: all 400ms linear;
    &:active {
        @include degradé;
    }
}

.Nouveau {
    position: absolute;
    background-color: $Tertiaire;
    width: 200px;
    height: 30px;
    border: 2px black solid;
    margin-top: 2%;
    display: flex;
    align-items: flex-end;
    z-index: 12;
}








#Texte_bas {
    color: white;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(19, 18, 18);
    padding-left: 5% ;
}

.Truc_bas {
    display: flex;
    align-items: center;
}

.Texte_bas {
    margin-left: 10px;
    margin-right: 10px;
}


/* Page 2 */



.Restau-prev__image2 {
    width: 50%;
    overflow: hidden;
    object-fit: cover;
    display: block;
    @include centrer;
}

#Restau-prev2 {
    width: 50%;
    background-color: $Grey;
    position: relative;
    margin-top: -2em;
    border-radius: 20px 20px 0px 0px;
    @include centrer;
    
    .Restau-prev__title {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}


.Restau-menu {
    position: relative;
    width: 90%;
    display: flex;
    border-radius: 15px;
    background-color: white;
    padding-left: 1em;
    margin-bottom: 1em;
    overflow: hidden;
    @include centrer;
    @include box-shadow;
    animation: Apparition 2s ease-in-out;

    .Restau-menu__texte {
        display: flex;
        justify-content: space-between;
        width: 100%;
        }

        .Restau-menu__argent {
            margin-right: 1em;
            margin-top: 2em;
        }

        &:hover{
        .Restau-menu__transition {
            position: relative;
            border-radius: 0px 15px 15px 0px;
            background-color: $Tertiaire;
            width: 70px;
            height: 70px;
            transition: transform 1s ease-in-out;
            right: -70px;
            transform: translate(-70px, 0);
            }}
}

.Restau-menu__ligne1 {
    position: absolute;
}
.Restau-menu__ligne2 {
    text-overflow: ellipsis;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
}


.Transition-logo {
    display: inline-block;
    position: relative;
    color: $Tertiaire;
    background-color: white;
    right: -35px;
    top: 35px;
    animation: myrotate 1s ease-in-out infinite;
}





@keyframes Apparition {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@keyframes myrotate {
    0% {
      transform: rotate(0deg); 
    }
   100% {
      transform: rotate(359deg);
}
}


.Bordure {
    margin-left: 1em;
    padding-bottom: 5px;
    width: 2em;
    border-bottom: 2px $Tertiaire solid;
}
        

.Restau-menu2 {
    position: relative;
    width: 90%;
    display: flex;
    border-radius: 15px;
    background-color: white;
    padding-left: 1em;
    margin-bottom: 1em;
    overflow: hidden;
    @include centrer;
    @include box-shadow;
    animation: Apparition 4s ease-in-out 0s;
    .Restau-menu__texte {
        display: flex;
        justify-content: space-between;
        width: 100%;
        }

        .Restau-menu__argent {
            margin-right: 1em;
            margin-top: 2em;
        }

        &:hover{
        .Restau-menu__transition {
            position: relative;
            border-radius: 0px 15px 15px 0px;
            background-color: $Tertiaire;
            width: 70px;
            height: 70px;
            transition: transform 1s ease-in-out;
            right: -70px;
            transform: translate(-70px, 0);
            }}
}

.Restau-menu3 {
    position: relative;
    width: 90%;
    display: flex;
    border-radius: 15px;
    background-color: white;
    padding-left: 1em;
    margin-bottom: 1em;
    overflow: hidden;
    @include centrer;
    @include box-shadow;
    animation: Apparition 6s ease-in-out 0s;
    .Restau-menu__texte {
        display: flex;
        justify-content: space-between;
        width: 100%;
        }

        .Restau-menu__argent {
            margin-right: 1em;
            margin-top: 2em;
        }

        &:hover{
        .Restau-menu__transition {
            position: relative;
            border-radius: 0px 15px 15px 0px;
            background-color: $Tertiaire;
            width: 70px;
            height: 70px;
            transition: transform 1s ease-in-out;
            right: -70px;
            transform: translate(-70px, 0);
            }}
}


