@font-face {
  font-family: 'Roboto';
  src: url("polices/Roboto-Regular.ttf");
  font-family: 'Shrikhand';
  src: url("polices/Shrikhand-Regular.otf");
}

.marge {
  margin-left: 15px;
}

a {
  text-decoration: none;
  color: black;
}

.Logo {
  width: 200px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#Haut_page {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

#Localisation {
  background-color: #e7e4e4;
}

.Localisation_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  margin-right: auto;
  margin-left: auto;
}

#Reserver {
  background-color: #F2F2F2;
}

#Haut_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Texte_centre {
  text-align: center;
}

.Explorer {
  margin-top: 20px;
  text-align: center;
  border-radius: 50px;
  color: white;
  width: 30%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-box-shadow: 6px 6px 20px #c2c0c0;
          box-shadow: 6px 6px 20px #c2c0c0;
}

/* Partie fonctionnement */
.Navigation1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F2F2F2;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 6px 6px 6px #F2F2F2;
          box-shadow: 6px 6px 6px #F2F2F2;
  margin-bottom: 20px;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-shadow: 6px 6px 20px #c2c0c0;
          box-shadow: 6px 6px 20px #c2c0c0;
}

.Navigation1:hover {
  background-color: #ffdff6;
}

.Navigation1 .Navigation-chiffre {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  color: white;
  background-color: #9356DC;
  height: 20px;
  border-radius: 20px;
}

.Navigation-logo {
  margin-right: 1em;
  margin-left: 2em;
  color: grey;
}

.Navigation-logo:hover {
  color: #9356DC;
}

/* Partie restaurants */
article {
  background: #F2F2F2;
}

#Restau-prev {
  width: 80%;
  border-radius: 20px;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-shadow: 6px 6px 20px #c2c0c0;
          box-shadow: 6px 6px 20px #c2c0c0;
  margin-bottom: 20px;
}

#Restau-prev .Restau-prev__image {
  height: 400px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

#Restau-prev .Restau-prev__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 1em;
  margin-right: 1em;
}

.Coeur {
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}

.Coeur:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
}

#Texte_bas {
  color: white;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #131212;
  padding-left: 5%;
}

.Truc_bas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Texte_bas {
  margin-left: 10px;
  margin-right: 10px;
}

/* Page 2 */
.Restau-prev__image2 {
  width: 50%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#Restau-prev2 {
  width: 50%;
  background-color: #F2F2F2;
  position: relative;
  margin-top: -2em;
  border-radius: 20px 20px 0px 0px;
  margin-right: auto;
  margin-left: auto;
}

#Restau-prev2 .Restau-prev__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Restau-menu {
  width: 90%;
  border-radius: 15px;
  background-color: white;
  padding-left: 1em;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-shadow: 6px 6px 20px #c2c0c0;
          box-shadow: 6px 6px 20px #c2c0c0;
}

.Restau-menu .Restau-menu__texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Restau-menu .Restau-menu__argent {
  margin-top: 2.1em;
  margin-right: 1em;
}

.Bordure {
  margin-left: 1em;
  padding-bottom: 5px;
  width: 2em;
  border-bottom: 2px #99E2D0 solid;
}
/*# sourceMappingURL=main.css.map */