@font-face {
    font-family: 'Roboto';
    src: url('Polices/Roboto-Regular.ttf');
}
@font-face{
    font-family: 'Roboto-thin';
    src: url('Polices/Roboto-Thin.ttf');
}
@font-face {
    font-family: 'Roboto-bold';
    src: url('Polices/Roboto-Bold-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Shrikhand';
    src: url('Polices/Shrikhand-Regular.otf')
}


p {
    font-family: 'Roboto';
    font-size: 2em;
}

a {
    text-decoration: none;
    color: black;
}


h1 {
    font-family: "Roboto-Bold";
}

h2 {
    font-size: 3em;
}

.Titre_ohmyfood {
    font-family: 'Shrikhand';
}

.thin {
    font-family: 'Roboto-thin';
}
.Restau-prev__ligne1 {
    font-family: "Roboto-Bold";
}


.Restau-menu__ligne1 {
    position: absolute;
    font-family: 'Roboto-bold';
}

.Restau-menu__ligne2 {
    color: rgb(66, 64, 64);
    text-overflow: ellipsis;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (min-width: 1280px) {

p {
    font-size: 1em;
}

h2 {
    font-size: 2em;
}
}