.Logo {
    width: 400px;
    display: block;
    @include centrer;
    margin-bottom: 1em;
}



.loader {
    position: absolute;
    margin-left: 42%;
    margin-top: 10em;
    border: 16px solid $Tertiaire; 
    border-top: 16px solid $Secondaire; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 3s linear;
    animation-fill-mode: forwards;
  }
  


#Apparition-page {
    animation: opacity 4s linear;
}



#Localisation {
    background-color: rgb(231, 228, 228);
    .Localisation_heading {
        display: flex;
        align-items: center;
        width: 30%;
        @include centrer;
    }
        .Localisation_texte {
            margin-left: 15px;
            font-size: 2em;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            border: none;
            background-color: rgb(231, 228, 228);
        }
}
::placeholder {
    color: black;
    opacity: 1;
}


#Reserver {
    background-color: $Grey ;
}

#Haut_page {
    display: flex;
    flex-direction: column;
}


.Reserver_texte {
    text-align: center;
    @include centrer;
    width: 35%;
}

.Reserver_texte2 {
    text-align: center;
    @include centrer;
    width: 60%;
}




.Explorer {
    margin-top: 20px;
    text-align: center;
    border-radius: 50px;
    color: white;
    width: 45%;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-bottom: 50px;
    @include centrer;
    @include degradé;
    @include box-shadow;
}


/* Partie fonctionnement */


.Navigation1 {
    display: flex;
    align-items: center;
    background-color: $Grey;
    padding-top: 10px ;
    padding-bottom: 10px;
    border-radius: 35px;
    box-shadow: 6px 6px 6px $Grey;
    margin-bottom: 40px;
    width: 90%;
    @include centrer;
    @include box-shadow;
    &:hover {
        background-color: lighten($Secondaire, 20%);
    }
    .Navigation-chiffre {
        padding-left: 13px;
        padding-right: 13px;
        padding-top: 3px;
        color: white;
        background-color: $Primaire;
        height: 40px;
        border-radius: 20px;
    }
}
.Navigation1:hover > .Navigation-logo {
    color: $Primaire;
}

.Navigation-titre {
    margin-left: 5%;
    font-size: 2.5em;
}

.Navigation-logo {
    margin-right: 1em;
    margin-left: 2em;
    color: grey;
}


/* Partie restaurants */


article {
    background: $Grey;
    height: 2600px;
}

.Restau-prev {
    width: 70%;
    border-radius: 20px;
    background-color: white;
    @include centrer;
    @include box-shadow;
    margin-bottom: 20px;
    .Restau-prev__image {
        height: 400px;
        width: 100%;
        border-radius: 20px 20px 0px 0px;
        overflow: hidden;
        object-fit: cover;
    }
        .Restau-prev__heading {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: 1em;
            margin-right: 1em;
        }
        
}

.Restau-titre {
    padding-top: 2em;
    margin-left: 15%;
    font-size: 2.5em;
}

.Coeur {
    transition: all 800ms linear;
    &:hover {
        @include degradé;
        background-clip:text;
        -webkit-background-clip:text;
        color:transparent;
    }
}

.Nouveau {
    position: absolute;
    background-color: $Tertiaire;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 2%;
    margin-left: 48%;
    display: flex;
    color: rgb(11, 95, 11);
    border-radius: 5%;
}



/* Bas de page */


#Texte_bas {
    color: white;
    padding-left: 2em;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(19, 18, 18);
}

.Texte_bas1 {
    display: flex;
    align-items: center;
}

.Texte_bas {
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (min-width: 1280px)
{

.Logo {
    width: 200px;
}

.Localisation_texte {
    font-size: 1.2em;
}

article {
    height: 1000px;
}

.Restau-prev {
    width: 40%;
    .Restau-prev__image {
        height: 300px;
    }
}

.Restau-prev__ligne {
    display: flex;
}

.Reserver_texte {
    text-align: center;
    @include centrer;
    width: 28%;
}

.Reserver_texte2 {
    text-align: center;
    @include centrer;
    width: 28%;
}

.Nouveau {
    margin-left: 30%;
}

.Restau-titre {
    margin-left: 42%;
    padding-bottom: 1em;
    padding-top: 1em;
    font-size: 2em;
}

.Navigation1 {
    width: 60%;
    border-radius: 20px
}
.Navigation-titre {
    margin-left: 20%;
    font-size: 2em;
}



.Navigation1 {
    .Navigation-chiffre {
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 3px;
        height: 21px;
}
}

#Localisation {
.Localisation_heading {
    margin-left: 40%;
}}



.Explorer {
    width: 30%;
    padding-top: 15px;
    padding-bottom: 15px;
}


#Localisation {
        .Localisation_texte {
            font-size: 1.5em;
        }
}

.Nouveau {
    margin-left: 55%;
}

  
}